 [Desktop Entry]
 Name = Open in VS Code
 Type=Service
 ServiceTypes=KonqPopupMenu/Plugin
 MimeType=inode/directory
 X-KDE-Priority=TopLevel
 Actions=openInVSCode
 
 [Desktop Action openInVSCode]
 Name=Open in Visual Studio Code
 Icon=com.visualstudio.code
 Exec=code %u

 # copy to: /home/$USER/.local/share/kservices5/ServiceMenus/
